.container {
    height: 100%;
    display: flex;
    box-sizing: border-box;
    margin-top: 60px;
}

.videos {
    position: relative;
    width: 60%;
    height: 90%;
    padding-left: 20px;
    overflow: hidden;
}

.subscriber {
    width: 100%;
    height: 100%;
    z-index: 10;
}

.publisher {
    position: absolute;
    width: 234px;
    height: 192px;
    bottom: 0px;
    right: 0px;
    z-index: 100;
    overflow: hidden;
    background-color: gray;
}

.analytics {
    width: 40%;
    border-left: 0.3px solid #f1f1f1;
}

.heading {
    color: white;
    text-align: center;
}

.sentimentContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.callActions {
    z-index: 10;
    position: absolute;
    bottom: 20px;
    left: 40px;
}