.container {
    display: flex;
    align-items: center;
;
}

.navItem {
   margin: 0px 16px;
   font-size: 16px;
   cursor: pointer;
   color: #26311D;
}

.navItemActive {
  color: #6B8A50;
}

.avatar {
  margin-right: 40px;
  margin-left: 8px;
}